# **IPL dataset** `basic EDA`:

## **Importing** the **Libraries**:

In [5]:
import pandas as pd
import numpy as np

## **Importing** the **dataset**:

In [7]:
ipl_df = pd.read_excel('IPL_Match_Scores.xlsx')
ipl_df

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,510,League Match,May 17,2015,Hyderabad,Hyderabad,Mumbai,113,10,20.0,...,73.0,0.0,4.1,NaN,NaN,NaN,NaN,NaN,Evening,NaN
510,511,Qualifier 1,May 19,2015,Mumbai,Mumbai,Chennai,187,6,20.0,...,86.0,2.0,10.2,121.0,6.0,13.4,NaN,NaN,Evening,NaN
511,512,Eliminator,May 20,2015,Pune,Bangalore,Rajasthan,180,4,20.0,...,68.0,3.0,11.3,92.0,7.0,17.8,NaN,NaN,Evening,NaN
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,NaN
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,NaN

In [ ]:
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Match_Number                514 non-null    int64
 1   Match                       514 non-null    object
 2   Date                        514 non-null    object
 3   Year                        514 non-null    int64
 4   Venue                       514 non-null    object
 5   Team_Batting_First          514 non-null    object
 6   Team_Batting_Second         514 non-null    object
 7   Bat_First_Runs_Scored       514 non-null    int64
 8   Bat_First_Wickets_Lost      514 non-null    int64
 9   Bat_First_Overs_Consumed    514 non-null    float64
 10  Bat_First_Overs_Allocated   514 non-null    int64
 11  Bat_Second_Runs_Scored      514 non-null    int64
 12  Bat_Second_Wickets_Lost     514 non-null    int64
 13  Bat_Second_Overs_Consumed   514 non-null    float64
 14  Bat_Second_Overs_Allocated  514 non-null    float64
 15  Winner                      514 non-null    object
 16  Winning_Team                514 non-null    object
 17  Winning_Margin              508 non-null    float64
 18  Win_Type                    508 non-null    object
 19  Bat_First_Run_Rate          514 non-null    float64
 20  Bat_Second_Run_Rate         514 non-null    float64
 21  Balls_Remaining             514 non-null    float64
 22  Bat_First_5_ov_score        514 non-null    int64
 23  Bat_First_5_ov_wkts_lost    514 non-null    int64
 24  Bat_First_10_ov_score       513 non-null    float64
 25  Bat_First_10_ov_wkts_lost   513 non-null    float64
 26  Bat_First_15_ov_score       506 non-null    float64
 27  Bat_First_15_ov_wkts_lost   506 non-null    float64
 28  Bat_First_20_ov_score       501 non-null    float64
 29  Bat_First_20_ov_wkts_lost   501 non-null    float64
 30  Bat_Second_5_ov_score       514 non-null    int64
 31  Bat_Second_5_ov_wkts_lost   514 non-null    int64
 32  Bat_Second_5_ov_Req_RR      512 non-null    float64
 33  Bat_Second_10_ov_score      506 non-null    float64
 34  Bat_Second_10_ov_wkts_lost  506 non-null    float64
 35  Bat_Second_10_ov_Req_RR     503 non-null    float64
 36  Bat_Second_15_ov_score      478 non-null    float64
 37  Bat_Second_15_ov_wkts_lost  478 non-null    float64
 38  Bat_Second_15_ov_Req_RR     468 non-null    float64
 39  Bat_Second_20_ov_score      305 non-null    float64
 40  Bat_Second_20_ov_wkts_lost  305 non-null    float64
 41  Match_Time                  514 non-null    object
 42  Duckworth Lewis Used        7 non-null      object
dtypes: float64(22), int64(11), object(10)
memory usage: 172.8+ KB

In [ ]:
ipl_df.columns

Index(['Match_Number', 'Match', 'Date', 'Year', 'Venue', 'Team_Batting_First',
       'Team_Batting_Second', 'Bat_First_Runs_Scored',
       'Bat_First_Wickets_Lost', 'Bat_First_Overs_Consumed',
       'Bat_First_Overs_Allocated', 'Bat_Second_Runs_Scored',
       'Bat_Second_Wickets_Lost', 'Bat_Second_Overs_Consumed',
       'Bat_Second_Overs_Allocated', 'Winner', 'Winning_Team',
       'Winning_Margin', 'Win_Type', 'Bat_First_Run_Rate',
       'Bat_Second_Run_Rate', 'Balls_Remaining', 'Bat_First_5_ov_score',
       'Bat_First_5_ov_wkts_lost', 'Bat_First_10_ov_score',
       'Bat_First_10_ov_wkts_lost', 'Bat_First_15_ov_score',
       'Bat_First_15_ov_wkts_lost', 'Bat_First_20_ov_score',
       'Bat_First_20_ov_wkts_lost', 'Bat_Second_5_ov_score',
       'Bat_Second_5_ov_wkts_lost', 'Bat_Second_5_ov_Req_RR',
       'Bat_Second_10_ov_score', 'Bat_Second_10_ov_wkts_lost',
       'Bat_Second_10_ov_Req_RR', 'Bat_Second_15_ov_score',
       'Bat_Second_15_ov_wkts_lost', 'Bat_Second_15_ov_Req_RR',
       'Bat_Second_20_ov_score', 'Bat_Second_20_ov_wkts_lost', 'Match_Time',
       'Duckworth Lewis Used'],
      dtype='object')

### **Easy Level**:
* #### Q1. Make a DF with index: `Year` 2008 to 2015 and columns: `Total Number of Matches` , `Number of matches Team Batting First Won (Column Q)`, `Number of matches team Chasing Won (Column Q)`, `Number of times Match Tied (Column Q)`.
* #### Q2. Which venue (Column E) has hosted the most matches? How many?
* #### Q3. Which match number recorded the highest run rate batting first (Column T)? Which team batted first and how many runs they scored in how many overs

### Q1. Make a DF with index: `Year` and columns: `Total Number of Matches` , `Number of matches Team Batting First Won (Column Q)`, `Number of matches team Chasing Won (Column Q)`, `Number of times Match Tied (Column Q)`.

In [ ]:
df = pd.crosstab(index = ipl_df['Year'], columns = [ipl_df['Winning_Team']])
df

Winning_Team  Chasing  FirstBatting  Match Tied
Year
2008               36            22           0
2009               30            26           1
2010               28            31           1
2011               40            32           0
2012               40            34           0
2013               37            37           2
2014               37            22           1
2015               24            32           1

In [16]:

total_matches = df['Chasing'] + df['FirstBatting'] + df['Match Tied']

matches_df = pd.concat(objs = (df, total_matches), axis = 1).copy()

matches_df.rename(columns = { 0: "Total Matches", 'Chasing': "Team Chasing Won",'FirstBatting': "Team Batting First Won", 'Match Tied': "Match Tied"}, inplace = True)

matches_df

      Team Chasing Won  Team Batting First Won  Match Tied  Total Matches
Year
2008                36                      22           0             58
2009                30                      26           1             57
2010                28                      31           1             60
2011                40                      32           0             72
2012                40                      34           0             74
2013                37                      37           2             76
2014                37                      22           1             60
2015                24                      32           1             57

### Q2. Which venue `(Column E)` has hosted the most matches? How many?

In [ ]:
ipl_df['Venue'].value_counts().head(n = 1)

Venue
Mumbai    62
Name: count, dtype: int64

### Q3. Which match number recorded the highest run rate batting first (Column T)? Which team batted first and how many runs they scored in how many overs

In [17]:
df = ipl_df[ipl_df['Bat_First_Run_Rate'] == ipl_df['Bat_First_Run_Rate'].max()][['Match_Number', 'Team_Batting_First', 'Bat_First_Runs_Scored', 'Bat_First_Overs_Consumed']]

df.rename(columns = {'Match_Number': "Match Number", 'Team_Batting_First': "Team Batting First", 'Bat_First_Runs_Scored': "Runs Scored", 'Bat_First_Overs_Consumed': "No. of overs"}, inplace = True)

df

     Match Number Team Batting First  Runs Scored  No. of overs
390           391          Bangalore          106           8.0

## **Medium Level**:

### Q1. A close match is defined as when either of the following is satisfied:
#### (i)   the match is "Tied" (captured in Column Q) 
#### (ii)  Balls remaining at the end of the match (Column V) < =  3
#### (iii) chasing team wins (Column Q) with  <= 1 Wickets remaining (Column R and S)  
#### (iv)  chasing team loses (Column Q) by <= 5 runs. (Column R and S)

In [18]:
#(i) the match is "Tied" (captured in Column Q) 
cond_1 = (ipl_df['Winning_Team'] == 'Tied')

# (ii)  Balls remaining at the end of the match (Column V) < =  3
cond_2 = (ipl_df['Balls_Remaining'] <= 3)

# (iii) chasing team wins (Column Q) with  <= 1 Wickets remaining (Column R and S)
cond_3 = (ipl_df['Winning_Team'] == 'Chasing') & (ipl_df['Bat_Second_Wickets_Lost'] == 9)

# (iv)  chasing team loses (Column Q) by <= 5 runs. (Column R and S)
cond_4 = (ipl_df['Winning_Team'] == 'FirstBatting') & (ipl_df['Bat_First_Runs_Scored'] - ipl_df['Bat_Second_Runs_Scored'] <= 5)

#An either one or all can trigger a "close match" so it's a multi-or condition 
close_match_df = ipl_df[cond_1 | cond_2 | cond_3 | cond_4]['Year']
close_match_df.value_counts(sort = False)

Year
2008    28
2009    33
2010    28
2011    35
2012    46
2013    39
2014    33
2015    39
Name: count, dtype: int64

## Q2. For the 4 teams listed: `Chennai`, `Hyderabad`, `Mumbai`, `Kolkata`, determine which team has won the most percentage of their matches batting first across all IPLs. To do this, compute for each team: 
### (i)   `A`=total number of matches won by the team 
### (ii)  `B`=how many matches they won batting first
### **Percent** won batting first = `(B / A) *100`

In [ ]:
teams = ['Chennai', 'Hyderabad', 'Mumbai', 'Kolkata']#list of team names

# (i) A = total matches won:
mask_A = ipl_df['Winner'].isin(values=teams)#equivalent to 'in' membership operator but for vectorized operations
A=ipl_df[mask_A]['Winner'].value_counts()

#(ii) B=how many matches they won batting first:
mask_B=(ipl_df['Winner']==ipl_df['Team_Batting_First']) & (ipl_df['Team_Batting_First'].isin(values=teams))
B=ipl_df[mask_B]['Winner'].value_counts()

percent = (B / A) * 100
percent.rename("Percent Batting First")

Winner
Chennai      56.962025
Hyderabad    60.784314
Kolkata      41.666667
Mumbai       56.164384
Name: Percent Batting First, dtype: float64

## or

In [19]:
#(i) A=total number of matches won by the team
chennai_win_mask_A = ipl_df['Winner'] == 'Chennai'
hyderabad_win_mask_A = ipl_df['Winner'] == 'Hyderabad'
mumbai_win_mask_A = ipl_df['Winner'] == 'Mumbai'
kolkata_win_mask_A = ipl_df['Winner'] == 'Kolkata'

chennai_wins_A = ipl_df[chennai_win_mask_A]['Winner'].count()
hyderabad_wins_A = ipl_df[hyderabad_win_mask_A]['Winner'].count()
mumbai_wins_A = ipl_df[mumbai_win_mask_A]['Winner'].count()
kolkata_wins_A = ipl_df[kolkata_win_mask_A]['Winner'].count()

#(ii) B=how many matches they won batting first
chennai_win_mask_B = (ipl_df['Winner'] == 'Chennai') & (ipl_df['Team_Batting_First'] == 'Chennai')
hyderabad_win_mask_B = (ipl_df['Winner'] == 'Hyderabad') & (ipl_df['Team_Batting_First'] == 'Hyderabad')
mumbai_win_mask_B = (ipl_df['Winner'] == 'Mumbai') & (ipl_df['Team_Batting_First'] == 'Mumbai')
kolkata_win_mask_B = (ipl_df['Winner'] == 'Kolkata') & (ipl_df['Team_Batting_First'] == 'Kolkata')

chennai_wins_B = ipl_df[chennai_win_mask_B]['Winner'].count()
hyderabad_wins_B = ipl_df[hyderabad_win_mask_B]['Winner'].count()
mumbai_wins_B = ipl_df[mumbai_win_mask_B]['Winner'].count()
kolkata_wins_B = ipl_df[kolkata_win_mask_B]['Winner'].count()

# Percent won batting first = (B / A) *100
chennai_win_percent = (chennai_wins_B / chennai_wins_A) * 100
hyderabad_win_percent = (hyderabad_wins_B / hyderabad_wins_A) * 100
mumbai_win_percent = (mumbai_wins_B / mumbai_wins_A) * 100
kolkata_win_percent = (kolkata_wins_B / kolkata_wins_A) * 100

pd.DataFrame(data = [chennai_win_percent, hyderabad_win_percent, mumbai_win_percent, kolkata_win_percent], index = ['Chennai', 'Hyderabad', 'Mumbai', 'Kolkata'])

                   0
Chennai    56.962025
Hyderabad  60.784314
Mumbai     56.164384
Kolkata    41.666667

## **Complex:**

## Q1 Identify potential "odd" scoring patterns:

#### Q1 (a) Identify a match where team batting second had 6 wickets in hand at 15 overs stage with 33 runs to score of last 5 overs….the team still lost.

In [ ]:
custom_df = ipl_df[['Bat_First_Runs_Scored', 'Bat_Second_15_ov_wkts_lost', 'Bat_Second_15_ov_score', 'Winning_Team', 'Match', 'Team_Batting_First', 'Team_Batting_Second', 'Date']].copy()

wicket_mask = (custom_df['Bat_Second_15_ov_wkts_lost'] == 4)# 10 - 6 = 4 wickets lost, 6 remaining 

#because the recorded scores for runs scored at overs are cumulative and this can be misleading, so to know the score between 10-15 over range we need to take a differnce bettween the chasing_score - score_at_over_15
target_difference_mask = (custom_df['Bat_First_Runs_Scored'] - custom_df['Bat_Second_15_ov_score'] == 33) 

win_mask = (custom_df['Winning_Team'] == 'FirstBatting')

condition_a = wicket_mask & target_difference_mask & win_mask

#This condition is very strict that's why there are no rows matching the EXACT scenario...
custom_df[condition_a][['Match', 'Team_Batting_First', 'Team_Batting_Second', 'Date']]

Empty DataFrame
Columns: [Match, Team_Batting_First, Team_Batting_Second, Date]
Index: []

In [ ]:
#the nearest matches after using a more relaxed filters i.e. <=4 wickets & <=33 runs
custom_df.loc[[28, 342]]

,Bat_First_Runs_Scored,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_score,Winning_Team,Match,Team_Batting_First,Team_Batting_Second,Date
28,129,4.0,111.0,FirstBatting,League Match,Kolkata,Bangalore,May 8
342,119,4.0,87.0,FirstBatting,League Match,Hyderabad,Pune,Apr 17

#### Q1 (b) Identify matches where team batting first had only lost 2 wickets at 15 overs stage but then scored less than 25 runs in the last 5 overs!

In [ ]:
custom_df1 = ipl_df[['Bat_First_Runs_Scored', 'Bat_First_15_ov_wkts_lost', 'Bat_First_15_ov_score', 'Winning_Team', 'Match', 'Team_Batting_First', 'Team_Batting_Second', 'Date', 'Year']].copy()


wicket_mask = (custom_df1['Bat_First_15_ov_wkts_lost'] == 2)# 10 - 8 = 2 wickets lost, 8 remaining 

last_5_over_runs_mask = (custom_df1['Bat_First_Runs_Scored']
-custom_df1['Bat_First_15_ov_score'] == 25) 

condition_b = wicket_mask & last_5_over_runs_mask

#This condition is very strict that's why there are no rows matching the EXACT scenario...
custom_df1[condition_b][['Match', 'Team_Batting_First', 'Team_Batting_Second', 'Date']]

Empty DataFrame
Columns: [Match, Team_Batting_First, Team_Batting_Second, Date]
Index: []

In [ ]:
#closest match to the filter, Bat_First_15_ov_wkts_lost<=2 wickets & last
custom_df1.iloc[100]

Bat_First_Runs_Scored                 145
Bat_First_15_ov_wkts_lost             2.0
Bat_First_15_ov_score               123.0
Winning_Team                 FirstBatting
Match                        League Match
Team_Batting_First              Rajasthan
Team_Batting_Second                Mumbai
Date                               May 14
Year                                 2009
Name: 100, dtype: object

* ## Additional 2 new questions:
### a) Which year had the highest average run rate across all matches?

In [ ]:
Run_Rate=(ipl_df['Bat_First_Run_Rate']+ipl_df['Bat_Second_Run_Rate'])/2

custom_df=pd.DataFrame(data=Run_Rate)

custom_df=pd.concat([ipl_df['Year'], custom_df], axis=1)

avg_run_rate=custom_df.groupby(by='Year').mean()

avg_run_rate

             0
Year
2008  8.354943
2009  7.515960
2010  8.134646
2011  7.753351
2012  7.832657
2013  7.701746
2014  8.213975
2015  8.441194

## or

In [ ]:
firstbatting_avg_run_rate=ipl_df[['Year','Bat_First_Run_Rate']].groupby(by='Year').mean()
chasing_avg_run_rate=ipl_df[['Year','Bat_Second_Run_Rate']].groupby(by='Year').mean()

((firstbatting_avg_run_rate['Bat_First_Run_Rate']+chasing_avg_run_rate['Bat_Second_Run_Rate'])/2).nlargest(n=1)

Year
2015    8.441194
dtype: float64

### b) Most consistent team in terms of lowest average wickets lost when batting first.

In [ ]:
#Why co-efficient of variation(cv)? : In stats cv is the standard measure of consistency and is calculated by
#c.v. = ((std deviation)/(mean))
#We multiply hundred to show it in percentage.

def co_effecient_of_variation(array_or_series):
    return np.std(array_or_series)/np.mean(array_or_series) * 100

wickets_lost = ipl_df[['Team_Batting_First', 'Bat_First_Wickets_Lost']]

wickets_lost['Team_Batting_First'].value_counts()#Finding names of all teams from 2008-2015, because some new teams could be introduced or some old teams can be discontinued...

team_name = ['Chennai', 'Hyderabad', 'Mumbai', 'Punjab', 'Kolkata', 'Rajasthan', 'Bangalore', 'Delhi', 'Pune', 'Kochi']

obj = wickets_lost.groupby(by='Team_Batting_First')

series = obj['Bat_First_Wickets_Lost'].apply(lambda x: x)
i = 0

consistency_of_teams = pd.DataFrame(data = team_name)
consistency_of_teams.rename(columns = {0: 'Team'}, inplace = True)

temp = []

for team in team_name:
    team_data=series[team_name[i]]
    temp.append(co_effecient_of_variation(team_data))
    i += 1

temp = pd.Series(data = temp)
consistency_of_teams = pd.concat([consistency_of_teams, temp], axis = 1)

consistency_of_teams.rename(columns = {0: 'Co-efficient of Variation of Wickets lost'}, inplace = True)

mask_of_consistency = consistency_of_teams['Co-efficient of Variation of Wickets lost'] == consistency_of_teams['Co-efficient of Variation of Wickets lost'].min()

consistency_of_teams[mask_of_consistency][['Team', 'Co-efficient of Variation of Wickets lost']]

    Team  Co-efficient of Variation of Wickets lost
9  Kochi                                  24.014605

## or

In [ ]:
consistency = (ipl_df.groupby('Team_Batting_First')['Bat_First_Wickets_Lost'].agg(['mean','std','count']))
consistency

                        mean       std  count
Team_Batting_First
Bangalore           5.980392  2.420663     51
Chennai             5.298701  2.052373     77
Delhi               6.224490  2.043947     49
Hyderabad           6.211268  2.203345     71
Kochi               7.285714  1.889822      7
Kolkata             5.909091  1.993255     55
Mumbai              5.927536  2.053110     69
Pune                6.250000  2.336777     20
Punjab              6.639344  2.057772     61
Rajasthan           6.240741  2.179970     54

In [ ]:
#adding a new column of co-efficient of variation:
consistency['cv_percent'] = (consistency['std'] / consistency['mean']) * 100
consistency

                        mean       std  count  cv_percent
Team_Batting_First
Bangalore           5.980392  2.420663     51   40.476655
Chennai             5.298701  2.052373     77   38.733511
Delhi               6.224490  2.043947     49   32.837188
Hyderabad           6.211268  2.203345     71   35.473352
Kochi               7.285714  1.889822      7   25.938738
Kolkata             5.909091  1.993255     55   33.732001
Mumbai              5.927536  2.053110     69   34.636816
Pune                6.250000  2.336777     20   37.388431
Punjab              6.639344  2.057772     61   30.993605
Rajasthan           6.240741  2.179970     54   34.931277

In [ ]:
# least co-efficient of variation = most consistent team 
most_consistent = consistency['cv_percent'] == consistency['cv_percent'].min()
consistency[most_consistent]['cv_percent']

Team_Batting_First
Kochi    25.938738
Name: cv_percent, dtype: float64